templates/QUASAR/dusty/
templates/QUASAR/nored/
templates/QUASAR/v1/
templates/MLT_DWARFS/
templates/MBrown_ATLAS_dust/
templates/XMM_COSMOS_library_dust/
templates/SpeX/extrapolated/
templates/SpeX/figures/
templates/SpeX/templates/
templates/SpeX/*.csv
*_fol/
*_test/
*_input_*/
filters/original/
